/* @tailwind base;
@tailwind components;
@tailwind utilities; */

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.investment-title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: #172554e0;
}

.balance-container {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  display: grid;
  grid-template-columns: auto auto;
  justify-content: center;
  align-items: center;
  background: #163b8a72;
}

.balance-title {
  justify-self: end; 
  margin-right: 20px;
  color: #fff;
}

.account-balance {
  justify-self: start;
  font-size: 3.5rem;
  font-weight: bold;
  margin-left: 50px;
}

.table-title {
  justify-self: end; 
  margin-right: 20px;
  color: #172554c1;
}

.table-container {
  max-width: 800px;
  margin: 20px auto;
}

.table-container table {
  width: 100%;
  border-collapse: collapse;
}

.table-container th,
.table-container td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: center;
}

.table-container th {
  background-color: #e2e8f0;
}

.table-container tbody tr:nth-child(even) {
  background-color: #f7fafc;
}

.question-container {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size:larger;
  font-weight: bold;
  color: #172554e0;
  flex-direction: column;

}

#investmentAmount {
  display:block;
  width: 10%;
  font-size: 1.5rem; 
  margin-top: 10px; 
  margin-left: 45%;
  
}

.button-container {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  padding: 60px;
}

.calculate-button {
  width: 45%; 
  padding: 10px; 
  font-size: 1.5rem; 
  border-radius: 10px;
  background-color: #1e3a8a;
  color: #fff;
  border: none;
  cursor: pointer;
  margin-left: 500px;
  margin-top: 20px;
}

.modal {
  width: 600px; 
  border-radius: 10px;
  border: 2px solid #ccc; 
}

.modal-box {
  padding: 20px;
}

.modal-action {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.modal-action button {
  padding: 8px 16px;
  background: #163b8a72;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}


h2 {
  color: #333;
}

/* Input field styles */
input[type="number"] {
  width: 150px;
  padding: 5px;
  margin-right: 10px;
}


p {
  margin-top: 10px;
}

.highlight {
  background-color: #fbbe24ae;
}
.error-message {
  color: red;
}
.success-message {
  color: green;
}

.company-container {
  display: flex;
  align-items: center;
}

.company-name {
  margin-right: 10px;
}

.left-column {
  max-width: 800px;
  padding: 5px;
}

.right-column {
  padding: 5px;
}

